* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: url(../MEDIA/IMAGENES/fondo\ body2.jpg);
  }
  
  
  .form-register {
    width: 400px;
    background: #0b0225;
    padding: 30px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 2px 13px 37px rgb(104, 156, 233);
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #5985e2;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #5985e2;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

.header { 
    background: #0b0225;
    color:white;
    padding:2rem 0 ;
    
}
.header nav{
color:white;
text-decoration: none;
}


.logo{
    letter-spacing: 5px;
    font-size: 1.3rem;
}
.menu{
  padding: 10px 13rem;
    color: white;
    
}
 .menu ul{
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .menu ul li{
     display: inline-block;
 }
 .menu ul li a{
display: block;
padding: 0.5rem 1rem;
transition: all o.4s linear;
border-radius: 5px;
 }
 .menu ul li a:hover{
     background: rgba(158, 102, 211, 0.329); 
 }
 p{
     margin-bottom: 1.6rem
 }
 .contenedor{
     width: 85%;
     max-width: 16px;
     margin: 0 auto;
 }
 .footer{
  background: #0b0225 ;
  padding: 4rem 0;
  text-align: center;
  color: white;

}

label.error{
  margin: 0px;
  display: block;
  color:white;
}
input .error{
  border: 1px solid red;
  color: red;
}