* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background-image: url('../MEDIA/IMAGENES/fondo\ body2.jpg');
  }
  
  .form-login {
    color: aliceblue;
    width: 400px;
    height: 340px;
    background:#0a0125 ;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    box-shadow: 2px 13px 37px rgb(104, 156, 233);
    padding: 20px 30px;
    border-top: 4px solid #0b0225;
    color: rgb(255, 255, 255);
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    font-size: 20px;
  }
  
  .controls {
    color: rgb(255, 255, 255);
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #140937;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    color: ivory;
    width: 100%;
    height: 40px;
    background: #5985e2;
    border: none;
    margin-bottom: 16px;
  }
  
  .form-login p{
  
    height: 40px;
    text-align: center;
    
  }
  
  .form-login a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }
  .header { 
    background: #0b0225;
    color:white;
    padding:0 ;
    
}
.header nav{
color:white;
text-decoration: none;
}
  /*aqui empiez el header*/
  /*




.logo{
    letter-spacing: 5px;
    font-size: 1.3rem;
}
.menu{
  padding: 10px 13rem;
    color: white;
    
}
 .menu ul{
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .menu ul li{
     display: inline-block;
 }
 .menu ul li a{
display: block;
padding: 0.5rem 1rem;
transition: all o.4s linear;
border-radius: 5px;
 }
 .menu ul li a:hover{
     background: rgba(158, 102, 211, 0.329); 
 }
 p{
     margin-bottom: 1.6rem
 }
 .contenedor{
     width: 85%;
     max-width: 850px;
     margin: 0 auto;
 }
*/
 .footer{
  background: #0b0225 ;
  padding: 2rem 0;
  text-align: center;
  color: white;

}